<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">INITIAL INVESTMENT</label>
      <input
        type="number"
        name="initial-investment"
        [(ngModel)]="initialInvestment"
      />
    </p>
    <p>
      <label for="annual-investment">ANNUAL INVESTMENT</label>
      <input
        type="number"
        name="annual-investment"
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">EXPECTED RETURN</label>
      <input
        type="number"
        name="expected-return"
        [(ngModel)]="expectedReturn"
      />
    </p>
    <p>
      <label for="duration">DURATION</label>
      <input type="number" name="duration" [(ngModel)]="duration" />
    </p>
  </div>
  <p>
    <button type="submit">CALCULATE</button>
  </p>
</form>

@if (calculated) {
<app-investment-results
  [initialInvestment]="initialInvestment"
  [annualInvestment]="annualInvestment"
  [expectedReturn]="expectedReturn"
  [duration]="duration"
/>
} @else {
<p class="center">Please enter some values and press "Calculate".</p>
}
